<h1>New User</h1>

<form method="post">
  <label for="uname">Email:</label><br>
  <input type="text" email="uname" id="uname" value="" placeholder="UserEmail"><br>
  <label for="upassword">Password</label><br>
  <input type="text" password="upassword" id="upassword" value="" placeholder="UserPassword">
</form>

<%= render 'form', user: @user %>
<%= link_to 'Back', users_path %>
