<h1><enchance>Esta muestra es temporal</enchance></h1>
<!-- comments, thats how are done -->
<table>
  <tr>
    <th>email</th>
    <th>password</th>
  </tr>
  <%@users.each do |v|%>
    <tr>
      <td><%=v.email %></td>
      <td><%=v.password %></td>
    </tr>
  <%end%>
</table>