<!-- comments, thats how are done -->
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <%@events.each do |v|%>
    <tr>
      <td><%=v.name %></td>
      <td><%=v.description %></td>
      <td><%= link_to 'Add Comment', new_comment_url %></td>
    </tr>
  <%end%>
</table>