<br>

<h1>Current Events</h1>
<!-- comments, thats how are done -->
<br>

</div>
  <div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'events/event_tile', locals: { event: event } %>
    <% end %>
  </div>