<p id="notice"><%= notice %></p>

<table class="table table-darkred">
  <tbody>
<!--  <h1>Invitation for <%#=@eie.name %></h1>-->
  <tr>
<!--    <th scope="col"> <%#= @eiu.name %> are you sure you want to join the event <%#=@eie.name %> ?</th>-->
<!--    <td><button onclick="myFunction()">Accept</button></td>-->
  </tr>
<!--  <script>-->
<!--      function myFunction() {-->
<!--          var x = document.createElement("FORM");-->
<!--          x.name = 'myForm';-->
<!--          x.method = 'POST';-->
<!--          x.action = '/event_invitations';-->
<!--          var b = document.createElement('INPUT');-->
<!--          b.type='TEXT';-->
<!--          b.name='user_id';-->
<!--          b.value='@eiu.id';-->
<!--          x.appendChild(b);-->
<!--          var c = document.createElement('INPUT');-->
<!--          c.type='TEXT';-->
<!--          c.name='event_id';-->
<!--          c.value='@eie.id';-->
<!--          x.appendChild(c);-->
<!--          document.body.appendChild(x);-->
<!--          x.submit();-->
<!--      }-->
<!--  </script>-->
  </tbody>
</table>

<table class="table table-darkred">
  <tbody>
  <h1></h1>
  <tr>
    <% @ulist.each do |item|%>
    <tr>
      <td><%= item.name %> just joined</td>
      <td><%= @total.name %></td>
      <td><%= link_to 'Go to event', @total %></td>
    </tr>
  <% end %>
  </tr>
  </tbody>
</table>


<!--<%#= link_to 'Edit', edit_event_invitation_path(@event_invitation) %> |-->
<%#= link_to 'Back', event_invitations_path %>
