@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: #FDF6EA !important;

}



.navbar-brand {

    font-size: 3rem;

}



h1 {
    color: 	#111111;  // All the H1 will be in this color, but it will be overwritten if other html tag is applied
}

body{
  background: #dbdbdb;  // This makes all the background to change  it
}

enchance{ /* If put inside another html tag, will get bigger font*/
  font-size: larger;
  color: darkred;
  font-style: italic;
  font-weight: bold;
}