@import 'bootstrap/dist/css/bootstrap';
.navbar {
    background-color: #3e0000 !important;
  a:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
  //ul:hover {
  //  background-color: #250000 !important; /* the background when the selection is mouse-focused */
  //}
  li:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }

}
.navbar-nav {
  flex-direction: row;
  background-color: #3e0000 !important;
  a:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
  ul:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
  li:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  background-color: #3e0000 !important;
  a:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
  ul:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
  li:hover {
    background-color: #250000 !important; /* the background when the selection is mouse-focused */
  }
}




.navbar-brand {

    font-size: 3rem;

}

.table-active{
  color: black;
  background: goldenrod;
  font-weight: bold;
}

.table-red{
  background: darkred;
  color: gold !important;
  font-weight: bold;;
}

.table-darkred{
  background: #3e0000;
  color: gold;
  font-weight: bold;
}

.table-gold{
  background: gold;
  color: darkred;
  font-weight: bold;
}
h1 {
    color: 	#111111;  // All the H1 will be in this color, but it will be overwritten if other html tag is applied
}

body{
  background: #dbdbdb;  // This makes all the background to change  it
}

enchance{ /* If put inside another html tag, will get bigger font*/
  font-size: larger;
  color: darkred;
  font-style: italic;
  font-weight: bold;
}

img {
  border: 5px solid darkred;

}

.btn-red{
   border: 3px solid #3e0000;
   background: darkred;
   color: gold !important;
   font-weight: bold;
   :hover{
     background: #3e0000;
   }
 }

.btn-gold {
  border: 3px solid #3e0000;
  background: gold;
  color: darkred !important;
  font-weight: bold;
}

.btn-gold:hover{
  background: darkgoldenrod;
}

.topnav-right {
  float: right;
}